.offerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
  
}

.offerSection img {
    margin: 0 2.4vmax;
    width: 400px;
}

.offerSection img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.offerSection img {
    transition: all 0.3s;
}